In [13]:
from sqlalchemy import create_engine
import psycopg2
import pandas as pd
import numpy as np

# импортируем библиотеку для работы с картами
from keplergl import KeplerGl

In [14]:
def authorization_pg():
    login_name = ''
    login_password = ''
    IP = ''
    engine_str = f'postgresql://{login_name}:{login_password}@{IP}:5432/postgres'
    engine = create_engine(engine_str)
    return engine

# Fast to .csv
def csv(df, name):
    df.to_csv(f'{name}.csv',index=False)

In [22]:
%%time
df_tram =  pd.read_sql_query('''select lat, lon, average_speed  from public.average_speed_tramway
where year = 2022 and month = 1''', authorization_pg())
df_tram.head(1)

CPU times: user 1.28 s, sys: 95.2 ms, total: 1.38 s
Wall time: 1.63 s

         lat        lon  average_speed
0  52.250294  104.31311           35.0

In [24]:
# df_tram['date'] = pd.to_datetime(df_tram.year.astype(str) + '/' + df_tram.month.astype(str) + '/01')
# df_tram.head(1)

In [26]:
# df_tram.month.value_counts()

In [27]:
# irk center
lat, lon = 52.263408, 104.288213

In [28]:
config = {
'version': 'v1',
'config': {
    'mapState': {
        'latitude': lat,
        'longitude': lon,
        'zoom': 10
        }
    }
}

In [29]:
 # Создание карты
map_1 = KeplerGl(config=config)

User Guide: https://docs.kepler.gl/docs/keplergl-jupyter

In [30]:
map_1.add_data(data=df_tram, name='data_1')

/opt/anaconda3/lib/python3.9/site-packages/jupyter_client/session.py:716: UserWarning: Message serialization failed with:
Out of range float values are not JSON compliant
Supporting this message is deprecated in jupyter-client 7, please make sure your message is JSON-compliant
  content = self.pack(content)

In [31]:
map_1.save_to_html(file_name='tram_jan.html')

Map saved to tram_jan.html!

In [68]:
df = df_tram.copy()
df

         year  month        lat         lon  average_speed       date
0        2021      9  52.265331  104.318604            0.0 2021-09-01
1        2021      9  52.256016  104.353271           15.0 2021-09-01
2        2021      9  52.256058  104.352234            9.0 2021-09-01
3        2021      9  52.256069  104.352531            7.0 2021-09-01
4        2021      9  52.256084  104.351250           17.0 2021-09-01
...       ...    ...        ...         ...            ...        ...
1549361  2022      1  52.295139  104.347038           23.0 2022-01-01
1549362  2022      1  52.295155  104.354118           14.0 2022-01-01
1549363  2022      1  52.295769  104.347153           14.0 2022-01-01
1549364  2022      1  52.296436  104.348244           23.0 2022-01-01
1549365  2021      9  52.263721  104.257812           20.0 2021-09-01

[1549366 rows x 6 columns]

In [70]:
csv(df,'df')

In [72]:
df1 = pd.read_csv('df.csv')
df1.shape

(1549366, 6)

In [73]:
map_1.save_to_html(data={'data_1': df1}, config=config, file_name='first_map.html')

Map saved to first_map.html!